In [58]:
import pandas as pd

In [59]:
vgsales = pd.read_csv('vgsales.csv')

In [60]:
vgsales.head(1)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74

In [61]:
vgsales.sort_values('Name', inplace=True)

vgsales.head(100)
vgsales.shape

(16598, 11)

In [62]:
# Sort the dataset by 'Name' column
df_sorted = vgsales.sort_values(by=['Name'])

# Find the index of the first game that starts with 'A'
idx = df_sorted.loc[df_sorted['Name'].str.startswith('A')].index[0]

# Remove all rows before the first game that starts with 'A'
df_filtered = df_sorted.iloc[idx:]
df_filtered.head(10)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
1243,1245,LEGO Star Wars III: The Clone Wars,X360,2011.0,Action,LucasArts,0.84,0.54,0.0,0.13,1.51
6596,6598,LEGO Star Wars III: The Clone Wars,PC,2011.0,Action,LucasArts,0.10,0.13,0.0,0.03,0.26
906,908,LEGO Star Wars III: The Clone Wars,Wii,2011.0,Action,LucasArts,1.08,0.66,0.0,0.17,1.91
1748,1750,LEGO Star Wars III: The Clone Wars,DS,2011.0,Action,LucasArts,0.66,0.39,0.0,0.11,1.16
1667,1669,LEGO Star Wars III: The Clone Wars,PS3,2011.0,Action,LucasArts,0.52,0.49,0.0,0.20,1.20
575,576,LEGO Star Wars: The Complete Saga,X360,2007.0,Action,LucasArts,1.53,0.87,0.0,0.24,2.64
150,151,LEGO Star Wars: The Complete Saga,Wii,2007.0,Action,LucasArts,3.66,1.63,0.0,0.53,5.83
212,213,LEGO Star Wars: The Complete Saga,DS,2007.0,Action,LucasArts,2.89,1.54,0.0,0.46,4.90
657,659,LEGO Star Wars: The Complete Saga,PS3,2007.0,Action,LucasArts,1.02,0.97,0.0,0.39,2.38
1796,1798,LEGO Star Wars: The Video Game,GBA,2005.0,Action,Eidos Interactive,0.82,0.30,0.0,0.02,1.14

In [63]:
# Delete all rows before the first 'A' game
df_filtered.shape

(9419, 11)

In [64]:
vgsales_new.shape

(11844, 11)

In [47]:
16598-11844

4754

In [48]:
vgsales_new.head(5)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
13179,13181,Freelancer,PC,2003.0,Simulation,Microsoft Game Studios,0.02,0.02,0.0,0.01,0.05
15668,15671,Freestyle Metal X,GC,2003.0,Racing,Midway Games,0.01,0.00,0.0,0.00,0.02
11089,11091,Freestyle Metal X,PS2,2003.0,Racing,Midway Games,0.04,0.03,0.0,0.01,0.09
15135,15138,Freestyle Metal X,XB,2003.0,Racing,Midway Games,0.02,0.00,0.0,0.00,0.02
5366,5368,Freeway,2600,1980.0,Action,Activision,0.32,0.02,0.0,0.00,0.34

In [49]:
vgsales_new = vgsales_new.sort_values(by=['Name'])

In [50]:
vgsales_new.head(5)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
13179,13181,Freelancer,PC,2003.0,Simulation,Microsoft Game Studios,0.02,0.02,0.0,0.01,0.05
15668,15671,Freestyle Metal X,GC,2003.0,Racing,Midway Games,0.01,0.00,0.0,0.00,0.02
11089,11091,Freestyle Metal X,PS2,2003.0,Racing,Midway Games,0.04,0.03,0.0,0.01,0.09
15135,15138,Freestyle Metal X,XB,2003.0,Racing,Midway Games,0.02,0.00,0.0,0.00,0.02
5366,5368,Freeway,2600,1980.0,Action,Activision,0.32,0.02,0.0,0.00,0.34